

.c-methodology{
    min-height: 70vh;
    max-height:100%;
    background-color: $color--background--section;
    z-index: -1;
    display: flex;
    
    /*Diferencia background*/
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.697) 0%, $color--background-image 100%), url(../../../assets/img/img_methodology.png);


    

    &__methodologyContent{
        position: relative;
        top:10px;
        width:85%;
        margin: auto;

        @media screen and (max-width: 1200px) {
            .row{
                flex-direction: column-reverse;
            }
           
        }
        
        .text-methodology{
            color:$color--text;
            margin-top: 1.5rem;
            font-size: 16px;
            font-weight: 500;
            text-align: justify;
            line-height: 2;
        }

        .img-section{
            border-radius: 20px;
        }
    }

}