
.c-home{

    &__bgHome{
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        background:linear-gradient(180deg, rgba(0, 0, 0, 0.697) 0%, $color--background-image 100%), url(../../../assets/img/img_home.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 20%;
        background-size: cover;
        filter: brightness(0.9);
    }

    &__mainContent{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45%;
        width:85%;
        margin: auto;

        .mainContent{
            
            &-logo{

            }

            &-options{
                
                
            }
        }
        
        
    }

}

.link-next{
    display: flex;
  justify-content: center;
}

.logo{
    max-width:200px!important;
    max-height:200px!important;
    filter: drop-shadow(0 6px 2px black);
}
.arrow{
    color:white;
    height:80px;
    width:80px;
}
.title-jumandgym{
z-index:1;
   background: url(../../..//assets/img/jumandgym.png);
}