.card-plan{
    padding:2vh;
    
    

    &__content{
        background-color:white;
        border-radius:10px;
        padding:10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: solid 6px #AAF6AA;


        &:hover{ 
            border: solid 10px #AAF6AA;
            z-index: -1;
            transition: transform 0.6s linear;
            transform: scale(0.97, 0.93);
         }

        

        &--title{
            font-family:junglelaw;
            color:black;
            font-size: 30px;
        }
        &--description{
            color:black;
            font-size: 13px;
            text-align:left;
            margin:auto 20px;
            
        }
        .hr-green{
            border-top: 4px solid green;
        }

        &--price-description{
            background-color:#AAF6AA;
            text-align:center;
            color:black;
            font-size: 17px;
            padding:10px;
            p{
                margin-bottom:0px;
            }
            .number-price{
                font-size: 25px;
            }
        }
    }
}

.full-height{
    min-height: 100%!important;
}