.loading{

    img{
        width:300px;
        height:300px;
        
    }

    height: 100vh;
    display: flex;
    background-color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__animation{
        margin-top: 2.5rem;
    }

}