

.c-description{
    min-height: 70vh;
    max-height:100%;
    background-color: $color--background--section;
    z-index: -1;
    display: flex;

    &__descriptionContent{
        position: relative;
        top:10px;
        width:85%;
        margin: auto;


        .text-description{
            color:$color--text;
            margin-top: 1.5rem;
            font-size: 20px;
            font-weight: 500;
            text-align: justify;
            line-height: 2;
        }

        .img-section{
            border-radius: 20px;
        }
    }

}