$greenDark:#011601;
$greenLight:#025F1C;
$greenLightToImage:rgba(2, 54, 1, 0.82);
$light:white;

 /** night mode color **/
 $color--primary:green;
 $color--secundary:green;
 
 $color--text:white;
 $color--shadow-text:rgb(2, 95, 28);
 $color--background--section:#011601;
 $color--background:#025F1C;
 $color--background-image:rgba(2, 54, 1, 0.82);
 
 //  $color--text:white;
 //  $color--shadow-text:black;
 //  $color--background--section:white;
 //  $color--background:black;
 